<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
		xmlns:gap   = "http://phonegap.com/ns/1.0"
		id	    = "com.whatmake.shinjia.scarlet"
		versionCode = "6" 
		version     = "1.0.6" >
 
	<name>血字的研究</name>
 
	<description>
		第一本電子書，福爾摩斯 《血字的研究》 ，柯林道爾著
	</description>
 
	<author href="https://github.com/shinjia/app_book_scarlet" email="shinjia168@gmail.com">
		Shinjia
	</author>
	
	<icon src="icon.png" />
	
	<!-- current version of PhoneGap -->
	
	<preference name='phonegap-version' value='cli-6.5.0' />
	
	<!-- 設定畫面固定為水平(landscape)、垂直(portrait) -->
	<preference name="orientation" value="all" />

	<!-- 加入其它plugin設定 -->
	<platform name="android">
    	<preference name="android-targetSdkVersion" value="26" />
	</platform>
	
</widget>